* {
  text-align: center;
}
body{
  background-color: rgb(17, 17, 17);
}
.card {
  background-color: rgb(184, 184, 184);
  width: 50%;
  min-height: 25em;
  margin: 5% auto;
  padding: 2em;
  border-radius: .5em;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

.card-list-item button:hover {
  text-shadow: 0px 0px 5px rgb(98, 133, 214);
}
.card#ShoppingList .card-list .card-list-item button:hover  {
  text-shadow: 0px 0px 5px #ad2a2a
}

.card#ShoppingList .card-list .card-list-item:hover > button, .card#ShoppingList .card-list .card-list-item:hover > span{
  color: #ad2a2a;
}

.card-list{
  display: flex;
  flex-direction: column;
  max-width: 30em;
  margin: 4em 8em;
}

.card-list-item{
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  padding: .5em 0;
  border-bottom: 1px solid #ababab;
}
.card-list-item:nth-last-child(1){
  border-bottom: none;
}

.card-list-item button {
  background: none;
  border: none;
  transition: .5s;
  font-size: 1.2em;
}

.button-wrapper {
  display: grid;
}
.buttonNext {
  border: none;
  border-radius: 1.2em;
  background-color: rgb(17, 17, 17);
  color: #fff;
  padding: .6em;
  font-size: 1em;
  transition: .2s;
}

.buttonNext:hover {
  background-color: rgb(41, 41, 41);
}
.buttonNext:active {
  background-color: rgb(58, 58, 58);
}

.newMealForm {
  background-color: rgb(29, 29, 29);
  width: 50%;
  margin: auto;  
  border-radius: 1em;
  color: rgb(211, 211, 211);
}

.newMealFormContainer {
  position: absolute;
  top: 10em;
  width: 100%;
  height: 100%;
}
.newMealForm form label, .newMealForm form input, .newMealForm form select {
  display: block;
  padding: 1em 0;
}

.newMealForm form input, .newMealForm form select {
  width: 80%;
  margin: auto;
}
.newMealForm form button {
  margin: 3em 0;
  padding: .5em 1em;
  background-color: transparent;
  border: rgb(216, 216, 216) solid .1em;
  color: rgb(216, 216, 216);

}